@media screen and (max-width: 1220px) {
    .container__menu{
        margin-right: 5rem;
    }
    .container__vagas{
        padding: 0 8.5rem;
    }

}
@media screen and (max-width: 975px){
    .container__menu{
        margin-right: 0;
    }
    .container__vagas{
        padding: 0 5rem;
    }

}
@media screen and (max-width: 894px) {
    .container__logo{
        order:1;
    }
    .container__menu{
        order: 3;
        flex-grow: 1;
        margin-top: 2em;
    }
    .container__login{
        order: 2;
    }
    .container__cabecalho{
        flex-wrap: wrap;
    }
    .container__vagas{
        padding: 0;
    }
    .texto--titulo{
        font-size: 38px;
    }
}
@media screen and (max-width: 715px) {
    .container__card--metricas{
        width: 100%;
    }
    .container__card{
        grid-template-columns: 1fr 2fr 1fr;
    }
    .texto__depoimentos--titulo{
        font-size: 28px;
    }
    .container__input{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .input__email{
        margin-bottom: 1rem;
        width: 80%;
    }
}
@media screen and (max-width: 555px){
    .container__cabecalho{
        margin: 2rem 1.5rem;
    }
    .container__sobreNos,
    .container__procurasse,
    .container__vagas,
    .container__depoimentos,
    .container__oportunidades{
        margin: 0 1.5rem;
    }
    .container__metricas{
        margin: 5rem 1.5rem;
    }
    .texto--logo,
    .texto--link,
    .botao__layout--1,
    .texto--principal,
    .texto--descricao,
    .texto__card--descricao{
        font-size: 14px;
    }
    .texto--link{
        margin: 0 .5em;
    }
    .texto--subtitulo{
        font-size: 16px;
    }
    .texto--destaque{
        font-size: 40px;
    }
    .texto--titulo{
        font-size: 28px;
    }
    .texto__depoimentos--titulo{
        font-size: 20px;
    }
    .container__card--metricas{
        width: 45%;
    }
    .container__card{
        grid-template-columns: 1fr 1fr 3fr;
        grid-template-areas: 
        "titulo titulo titulo"
        "cargaHoraria cargaHoraria salario";
    }
    .texto__card--subtitulo{
        font-size: 16px;
        grid-column: span 3;
    }
    .texto--cargaHoraria{
        grid-column: span 2;
    }
}