@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
html{
    height: 100%;
}
body{
    font-family:  'Helvetica', sans-serif;
    height: 100%;
}
header {
	background: url(https://imagizer.imageshack.com/img923/9705/spEojS.png) no-repeat;
	background-size: cover;
	background-position: top center;
	height: 100%;
}
button{
    font-weight: 700 !important;
}
i{
    padding-right: .5rem;
}
.logo-filme{
    width: 400px;
    margin-bottom: .5rem;
}
.netflix-banner {
	color: #FFF;
	padding: 20px;
	width: 45%;
	border-radius: 5px;
	position: absolute;
	top: 50%;
	left: 25%;
	transform: translate(-50%, -50%);
	transition: .3s;
    box-sizing: border-box;
}

