.btn-primary{
    background-color: var(--backgroundDark);
    border-radius: var(--borderRadius);
    border: none;
    box-sizing: border-box;
    color: var(--colorLight);
    display: inline-block;
    font-size: 16px;
    padding: 10px 18px;
}
.btn-primary:hover{
    border: 1px solid var(--borderDark);
    cursor: pointer;
}