header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem;
}
header img{
    height: 80px;
    width: 148px;
}

nav a{
    color: var(--colorPrimary);
    margin: 0 1em;
}
nav .navbar-login{
    flex-grow: 1;
    text-align: end;
}

@media screen and (max-width: 810px){
    header img{
        order: 0;
    }
    .navbar-pages{
        order: 2;
    }
    .navbar-login{
        order: 1;
    }
}
@media screen and (max-width: 490px){
    .navbar-pages{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    nav a{
        font-size: var(--size-xm);
    }
    .navbar-pages a{
        margin: 1rem 0;
    }
}