#jobs{
    margin: 0 auto 0 auto;
    width: 80%;
}
.section-jobs h3{
    font-size: var(--size-xm);
    text-align: left;
    margin-bottom: 2rem;
    color: var(--colorDark);
}
.jobs-list{
    margin-bottom: 2rem;
}
.jobs-card{
    display: grid;
    margin-bottom: 1rem;
    border-radius: 16px;
    border: 1px solid var(--borderLight);
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: repeat(2,1fr);
    grid-template-areas: 
    "title title space"
    "time salary space";
    max-width: 1440px;
}
.jobs-card h4{
    font-size: var(--size-md);
    padding: 1rem;
    color: var(--colorDark);
    grid-area: title;
    grid-column: span 2;
}
.jobs-card span{
    padding: 1rem;
    grid-area: time;
}
.jobs-card span:last-child{
    grid-area: salary;
}

@media screen and (max-width: 768px){
    .jobs-card{
        grid-template-columns: 1fr 1fr 3fr;
        grid-template-areas: 
        "title title title"
        "time time salary";
    }
    .jobs-card h4{
        padding: .5rem;
        grid-column: span 5;
        font-size: var(--size-rg);
    }
    .jobs-card span{
        padding: .5rem;
        font-size: var(--size-sm);
        grid-column: span 3;
    }
    .jobs-card span:last-child{
        padding: .5rem;
        grid-column: span 2;
    }
}
@media screen and (max-width: 360px){
    #jobs{
        width: 90%;
    }
}