#testimony{
    background-color: var(--backgroundSecondary);
    text-align: center;
    margin: 2.5rem 5rem;
    padding: 3rem 2rem;
}

#testimony h2{
    color: var(--colorSecondary);
    font-size: var(--size-sm);
    font-weight: var(--weightExtraBold);
    margin-top: 2rem;
}

#testimony h3{
    color: var(--colorDark);
    font-size: var(--size-lg);
    margin: 2rem 0;
}

#testimony figure{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#testimony figure.profile {
    width: 56px;
    height: 56px;
}

#testimony figcaption{
    margin: .5rem 0;
}

#testimony figcaption span:first-child{
    display: block;
    color: var(--colorDark);
    
}
#testimony figcaption span:last-child{
    font-weight: var(--weightNormal);
    font-size: var(--size-sm);
    display: block;

}
